<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Insurance Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Auto</h3>
                    <p class="text-muted">We find insurance best suited to your budget and coverage.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Home</h3>
                    <p class="text-muted">We build combined insurance portfolios to minimize cost.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Education</h3>
                    <p class="text-muted"><a href = https://www.americansafetycouncil.com/online-courses/?lgr=88959be3-32d8-e211-a643-000e0c4c5fe4>We run defensive driving education classes to make you a better driver and provide you with an insurance discount.</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>We find the best prices for you</h3>
                    <p class="text-muted">We don't stop until you are happy with our service.</p>
                </div>
            </div>
        </div>
    </div>
  </section> 
  <section id="states"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Now Serving</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img\ny_200.svg" height="100"/>
                    <h3>NY</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img\nj_200.svg" height="100"/>
                    <h3>NJ</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img\ct_200.svg" height="100"/>
                    <h3>CT</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img\pa_200.svg" height="100"/>
                    <h3>PA</h3>
                </div>
            </div>
        </div>
    </div>
</section>
